In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("mental health in tech.csv")

In [3]:
df.head(3)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,27-08-14 11:29,37,Female,United States,IL,NaN,No,Yes,Often,Jun-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,27-08-14 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,27-08-14 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,Jun-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN

In [4]:
df.shape

(1259, 27)

In [5]:
# df = df.drop("Timestamp", axis = 1)
df = df.drop("comments", axis = 1)

In [6]:
df.head(3)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,27-08-14 11:29,37,Female,United States,IL,NaN,No,Yes,Often,Jun-25,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,27-08-14 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,27-08-14 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,Jun-25,...,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No

In [7]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [8]:
df.isnull().sum()

Timestamp                      0
Age                            0
Gender                         0
Country                        0
state                        515
self_employed                 18
family_history                 0
treatment                      0
work_interfere               264
no_employees                   0
remote_work                    0
tech_company                   0
benefits                       0
care_options                   0
wellness_program               0
seek_help                      0
anonymity                      0
leave                          0
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

In [9]:
df = df.drop(["state","self_employed","work_interfere"], axis = 1)

In [10]:
df = df.drop("anonymity", axis=1)

In [11]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'family_history', 'treatment',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [12]:
df.isnull().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
family_history               0
treatment                    0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [13]:
df.dtypes

Timestamp                    object
Age                           int64
Gender                       object
Country                      object
family_history               object
treatment                    object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
dtype: object

In [14]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])
df["Timestamp"].unique()

array(['2014-08-27T11:29:00.000000000', '2014-08-27T11:30:00.000000000',
       '2014-08-27T11:31:00.000000000', '2014-08-27T11:32:00.000000000',
       '2014-08-27T11:33:00.000000000', '2014-08-27T11:34:00.000000000',
       '2014-08-27T11:35:00.000000000', '2014-08-27T11:36:00.000000000',
       '2014-08-27T11:37:00.000000000', '2014-08-27T11:38:00.000000000',
       '2014-08-27T11:39:00.000000000', '2014-08-27T11:40:00.000000000',
       '2014-08-27T11:41:00.000000000', '2014-08-27T11:42:00.000000000',
       '2014-08-27T11:43:00.000000000', '2014-08-27T11:44:00.000000000',
       '2014-08-27T11:45:00.000000000', '2014-08-27T11:46:00.000000000',
       '2014-08-27T11:47:00.000000000', '2014-08-27T11:48:00.000000000',
       '2014-08-27T11:49:00.000000000', '2014-08-27T11:50:00.000000000',
       '2014-08-27T11:51:00.000000000', '2014-08-27T11:52:00.000000000',
       '2014-08-27T11:53:00.000000000', '2014-08-27T11:54:00.000000000',
       '2014-08-27T11:56:00.000000000', '2014-08-27T11:57:00.000000000',
       '2014-08-27T11:59:00.000000000', '2014-08-27T12:00:00.000000000',
       '2014-08-27T12:01:00.000000000', '2014-08-27T12:02:00.000000000',
       '2014-08-27T12:03:00.000000000', '2014-08-27T12:05:00.000000000',
       '2014-08-27T12:07:00.000000000', '2014-08-27T12:10:00.000000000',
       '2014-08-27T12:11:00.000000000', '2014-08-27T12:12:00.000000000',
       '2014-08-27T12:13:00.000000000', '2014-08-27T12:14:00.000000000',
       '2014-08-27T12:15:00.000000000', '2014-08-27T12:16:00.000000000',
       '2014-08-27T12:17:00.000000000', '2014-08-27T12:18:00.000000000',
       '2014-08-27T12:19:00.000000000', '2014-08-27T12:20:00.000000000',
       '2014-08-27T12:22:00.000000000', '2014-08-27T12:23:00.000000000',
       '2014-08-27T12:25:00.000000000', '2014-08-27T12:28:00.000000000',
       '2014-08-27T12:29:00.000000000', '2014-08-27T12:31:00.000000000',
       '2014-08-27T12:32:00.000000000', '2014-08-27T12:33:00.000000000',
       '2014-08-27T12:34:00.000000000', '2014-08-27T12:35:00.000000000',
       '2014-08-27T12:36:00.000000000', '2014-08-27T12:37:00.000000000',
       '2014-08-27T12:38:00.000000000', '2014-08-27T12:39:00.000000000',
       '2014-08-27T12:40:00.000000000', '2014-08-27T12:41:00.000000000',
       '2014-08-27T12:42:00.000000000', '2014-08-27T12:43:00.000000000',
       '2014-08-27T12:44:00.000000000', '2014-08-27T12:45:00.000000000',
       '2014-08-27T12:46:00.000000000', '2014-08-27T12:47:00.000000000',
       '2014-08-27T12:48:00.000000000', '2014-08-27T12:49:00.000000000',
       '2014-08-27T12:50:00.000000000', '2014-08-27T12:51:00.000000000',
       '2014-08-27T12:52:00.000000000', '2014-08-27T12:53:00.000000000',
       '2014-08-27T12:54:00.000000000', '2014-08-27T12:55:00.000000000',
       '2014-08-27T12:56:00.000000000', '2014-08-27T12:57:00.000000000',
       '2014-08-27T12:58:00.000000000', '2014-08-27T13:00:00.000000000',
       '2014-08-27T13:02:00.000000000', '2014-08-27T13:03:00.000000000',
       '2014-08-27T13:04:00.000000000', '2014-08-27T13:05:00.000000000',
       '2014-08-27T13:06:00.000000000', '2014-08-27T13:07:00.000000000',
       '2014-08-27T13:08:00.000000000', '2014-08-27T13:09:00.000000000',
       '2014-08-27T13:12:00.000000000', '2014-08-27T13:14:00.000000000',
       '2014-08-27T13:15:00.000000000', '2014-08-27T13:18:00.000000000',
       '2014-08-27T13:19:00.000000000', '2014-08-27T13:21:00.000000000',
       '2014-08-27T13:22:00.000000000', '2014-08-27T13:23:00.000000000',
       '2014-08-27T13:24:00.000000000', '2014-08-27T13:26:00.000000000',
       '2014-08-27T13:27:00.000000000', '2014-08-27T13:29:00.000000000',
       '2014-08-27T13:31:00.000000000', '2014-08-27T13:32:00.000000000',
       '2014-08-27T13:33:00.000000000', '2014-08-27T13:34:00.000000000',
       '2014-08-27T13:35:00.000000000', '2014-08-27T13:37:00.000000000',
       '2014-08-27T13:38:00.000000000', '2014-08-27T13:39:00.000000000',
       '2014-08-27T13:40:00.000000000', '2014-08-27T13:42:00.000000000',
       '2014-08-27T13:44:00.000000000', '2014-08-27T13:46:00.000000000',
       '2014-08-27T13:47:00.000000000', '2014-08-27T13:48:00.000000000',
       '2014-08-27T13:49:00.000000000', '2014-08-27T13:52:00.000000000',
       '2014-08-27T13:53:00.000000000', '2014-08-27T13:54:00.000000000',
       '2014-08-27T13:55:00.000000000', '2014-08-27T13:56:00.000000000',
       '2014-08-27T13:59:00.000000000', '2014-08-27T14:01:00.000000000',
       '2014-08-27T14:03:00.000000000', '2014-08-27T14:06:00.000000000',
       '2014-08-27T14:10:00.000000000', '2014-08-27T14:11:00.000000000',
       '2014-08-27T14:13:00.000000000', '2014-08-27T14:14:00.000000000',
       '2014-08-27T14:15:00.000000000', '2014-08-27T14:16:00.000000000',
       '2014-08-27T14:18:00.000000000', '2014-08-27T14:19:00.000000000',
       '2014-08-27T14:20:00.000000000', '2014-08-27T14:21:00.000000000',
       '2014-08-27T14:22:00.000000000', '2014-08-27T14:23:00.000000000',
       '2014-08-27T14:24:00.000000000', '2014-08-27T14:25:00.000000000',
       '2014-08-27T14:26:00.000000000', '2014-08-27T14:27:00.000000000',
       '2014-08-27T14:28:00.000000000', '2014-08-27T14:29:00.000000000',
       '2014-08-27T14:30:00.000000000', '2014-08-27T14:31:00.000000000',
       '2014-08-27T14:32:00.000000000', '2014-08-27T14:33:00.000000000',
       '2014-08-27T14:34:00.000000000', '2014-08-27T14:37:00.000000000',
       '2014-08-27T14:38:00.000000000', '2014-08-27T14:39:00.000000000',
       '2014-08-27T14:41:00.000000000', '2014-08-27T14:44:00.000000000',
       '2014-08-27T14:45:00.000000000', '2014-08-27T14:47:00.000000000',
       '2014-08-27T14:49:00.000000000', '2014-08-27T14:51:00.000000000',
       '2014-08-27T14:52:00.000000000', '2014-08-27T14:53:00.000000000',
       '2014-08-27T14:54:00.000000000', '2014-08-27T14:57:00.000000000',
       '2014-08-27T14:58:00.000000000', '2014-08-27T14:59:00.000000000',
       '2014-08-27T15:03:00.000000000', '2014-08-27T15:04:00.000000000',
       '2014-08-27T15:05:00.000000000', '2014-08-27T15:09:00.000000000',
       '2014-08-27T15:11:00.000000000', '2014-08-27T15:13:00.000000000',
       '2014-08-27T15:14:00.000000000', '2014-08-27T15:15:00.000000000',
       '2014-08-27T15:20:00.000000000', '2014-08-27T15:21:00.000000000',
       '2014-08-27T15:22:00.000000000', '2014-08-27T15:23:00.000000000',
       '2014-08-27T15:24:00.000000000', '2014-08-27T15:25:00.000000000',
       '2014-08-27T15:26:00.000000000', '2014-08-27T15:27:00.000000000',
       '2014-08-27T15:28:00.000000000', '2014-08-27T15:29:00.000000000',
       '2014-08-27T15:30:00.000000000', '2014-08-27T15:31:00.000000000',
       '2014-08-27T15:32:00.000000000', '2014-08-27T15:34:00.000000000',
       '2014-08-27T15:35:00.000000000', '2014-08-27T15:36:00.000000000',
       '2014-08-27T15:38:00.000000000', '2014-08-27T15:39:00.000000000',
       '2014-08-27T15:40:00.000000000', '2014-08-27T15:43:00.000000000',
       '2014-08-27T15:44:00.000000000', '2014-08-27T15:46:00.000000000',
       '2014-08-27T15:47:00.000000000', '2014-08-27T15:50:00.000000000',
       '2014-08-27T15:51:00.000000000', '2014-08-27T15:53:00.000000000',
       '2014-08-27T15:54:00.000000000', '2014-08-27T15:55:00.000000000',
       '2014-08-27T15:56:00.000000000', '2014-08-27T15:58:00.000000000',
       '2014-08-27T15:59:00.000000000', '2014-08-27T16:00:00.000000000',
       '2014-08-27T16:01:00.000000000', '2014-08-27T16:02:00.000000000',
       '2014-08-27T16:03:00.000000000', '2014-08-27T16:04:00.000000000',
       '2014-08-27T16:06:00.000000000', '2014-08-27T16:07:00.000000000',
       '2014-08-27T16:10:00.000000000', '2014-08-27T16:11:00.000000000',
       '2014-08-27T16:13:00.000000000', '2014-08-27T16:14:00.000000000',
       '2014-08-27T16:15:00.000000000', '2014-08-27T16:16:00.000000000',
       '2014-08-27T16:17:00.000000000', '2014-08-27T16:18:00.000000000',
       '2014-08-27T16:19:00.000000000', '2014-08-27T16:20:00.000000000',
       '2014-08-27T16:21:00.000000000', '2014-08-27T16:22:00.000000000',
       '2014-08-27T16:23:00.000000000', '2014-08-27T16:25:00.000000000',
       '2014-08-27T16:26:00.000000000', '2014-08-27T16:27:00.000000000',
       '2014-08-27T16:28:00.000000000', '2014-08-27T16:29:00.000000000',
       '2014-08-27T16:31:00.000000000', '2014-08-27T16:32:00.000000000',
       '2014-08-27T16:34:00.000000000', '2014-08-27T16:35:00.000000000',
       '2014-08-27T16:36:00.000000000', '2014-08-27T16:39:00.000000000',
       '2014-08-27T16:40:00.000000000', '2014-08-27T16:42:00.000000000',
       '2014-08-27T16:47:00.000000000', '2014-08-27T16:53:00.000000000',
       '2014-08-27T16:55:00.000000000', '2014-08-27T17:00:00.000000000',
       '2014-08-27T17:03:00.000000000', '2014-08-27T17:04:00.000000000',
       '2014-08-27T17:08:00.000000000', '2014-08-27T17:09:00.000000000',
       '2014-08-27T17:10:00.000000000', '2014-08-27T17:12:00.000000000',
       '2014-08-27T17:14:00.000000000', '2014-08-27T17:15:00.000000000',
       '2014-08-27T17:19:00.000000000', '2014-08-27T17:22:00.000000000',
       '2014-08-27T17:32:00.000000000', '2014-08-27T17:33:00.000000000',
       '2014-08-27T17:37:00.000000000', '2014-08-27T17:39:00.000000000',
       '2014-08-27T17:41:00.000000000', '2014-08-27T17:42:00.000000000',
       '2014-08-27T17:46:00.000000000', '2014-08-27T17:47:00.000000000',
       '2014-08-27T17:48:00.000000000', '2014-08-27T17:49:00.000000000',
       '2014-08-27T17:52:00.000000000', '2014-08-27T17:56:00.000000000',
       '2014-08-27T18:00:00.000000000', '2014-08-27T18:02:00.000000000',
       '2014-08-27T18:12:00.000000000', '2014-08-27T18:13:00.000000000',
       '2014-08-27T18:14:00.000000000', '2014-08-27T18:16:00.000000000',
       '2014-08-27T18:18:00.000000000', '2014-08-27T18:22:00.000000000',
       '2014-08-27T18:29:00.000000000', '2014-08-27T18:39:00.000000000',
       '2014-08-27T18:41:00.000000000', '2014-08-27T18:43:00.000000000',
       '2014-08-27T18:56:00.000000000', '2014-08-27T18:59:00.000000000',
       '2014-08-27T19:05:00.000000000', '2014-08-27T19:08:00.000000000',
       '2014-08-27T19:13:00.000000000', '2014-08-27T19:16:00.000000000',
       '2014-08-27T19:17:00.000000000', '2014-08-27T19:25:00.000000000',
       '2014-08-27T19:27:00.000000000', '2014-08-27T19:28:00.000000000',
       '2014-08-27T19:34:00.000000000', '2014-08-27T19:38:00.000000000',
       '2014-08-27T19:41:00.000000000', '2014-08-27T19:45:00.000000000',
       '2014-08-27T19:59:00.000000000', '2014-08-27T20:13:00.000000000',
       '2014-08-27T20:17:00.000000000', '2014-08-27T20:33:00.000000000',
       '2014-08-27T20:48:00.000000000', '2014-08-27T20:52:00.000000000',
       '2014-08-27T20:53:00.000000000', '2014-08-27T20:55:00.000000000',
       '2014-08-27T21:05:00.000000000', '2014-08-27T21:15:00.000000000',
       '2014-08-27T21:17:00.000000000', '2014-08-27T21:21:00.000000000',
       '2014-08-27T21:35:00.000000000', '2014-08-27T21:39:00.000000000',
       '2014-08-27T21:45:00.000000000', '2014-08-27T21:54:00.000000000',
       '2014-08-27T21:55:00.000000000', '2014-08-27T22:00:00.000000000',
       '2014-08-27T22:04:00.000000000', '2014-08-27T22:06:00.000000000',
       '2014-08-27T22:07:00.000000000', '2014-08-27T22:11:00.000000000',
       '2014-08-27T22:12:00.000000000', '2014-08-27T22:13:00.000000000',
       '2014-08-27T22:14:00.000000000', '2014-08-27T22:21:00.000000000',
       '2014-08-27T22:26:00.000000000', '2014-08-27T22:32:00.000000000',
       '2014-08-27T22:35:00.000000000', '2014-08-27T22:36:00.000000000',
       '2014-08-27T22:55:00.000000000', '2014-08-27T22:59:00.000000000',
       '2014-08-27T23:09:00.000000000', '2014-08-27T23:10:00.000000000',
       '2014-08-27T23:14:00.000000000', '2014-08-27T23:30:00.000000000',
       '2014-08-27T23:54:00.000000000', '2014-08-27T23:56:00.000000000',
       '2014-08-27T23:57:00.000000000', '2014-08-27T23:59:00.000000000',
       '2014-08-28T00:02:00.000000000', '2014-08-28T00:05:00.000000000',
       '2014-08-28T00:17:00.000000000', '2014-08-28T00:43:00.000000000',
       '2014-08-28T00:47:00.000000000', '2014-08-28T01:04:00.000000000',
       '2014-08-28T01:14:00.000000000', '2014-08-28T01:19:00.000000000',
       '2014-08-28T01:30:00.000000000', '2014-08-28T01:38:00.000000000',
       '2014-08-28T01:41:00.000000000', '2014-08-28T01:56:00.000000000',
       '2014-08-28T02:15:00.000000000', '2014-08-28T02:17:00.000000000',
       '2014-08-28T02:19:00.000000000', '2014-08-28T02:30:00.000000000',
       '2014-08-28T02:32:00.000000000', '2014-08-28T02:41:00.000000000',
       '2014-08-28T02:46:00.000000000', '2014-08-28T02:49:00.000000000',
       '2014-08-28T02:52:00.000000000', '2014-08-28T02:54:00.000000000',
       '2014-08-28T03:05:00.000000000', '2014-08-28T03:06:00.000000000',
       '2014-08-28T03:13:00.000000000', '2014-08-28T03:15:00.000000000',
       '2014-08-28T03:16:00.000000000', '2014-08-28T03:29:00.000000000',
       '2014-08-28T03:36:00.000000000', '2014-08-28T03:42:00.000000000',
       '2014-08-28T03:47:00.000000000', '2014-08-28T03:49:00.000000000',
       '2014-08-28T03:52:00.000000000', '2014-08-28T04:00:00.000000000',
       '2014-08-28T04:02:00.000000000', '2014-08-28T04:07:00.000000000',
       '2014-08-28T04:09:00.000000000', '2014-08-28T04:11:00.000000000',
       '2014-08-28T04:16:00.000000000', '2014-08-28T04:23:00.000000000',
       '2014-08-28T04:24:00.000000000', '2014-08-28T04:30:00.000000000',
       '2014-08-28T04:34:00.000000000', '2014-08-28T04:37:00.000000000',
       '2014-08-28T04:53:00.000000000', '2014-08-28T05:05:00.000000000',
       '2014-08-28T05:12:00.000000000', '2014-08-28T05:14:00.000000000',
       '2014-08-28T06:02:00.000000000', '2014-08-28T06:05:00.000000000',
       '2014-08-28T06:10:00.000000000', '2014-08-28T06:11:00.000000000',
       '2014-08-28T06:27:00.000000000', '2014-08-28T06:30:00.000000000',
       '2014-08-28T07:01:00.000000000', '2014-08-28T07:03:00.000000000',
       '2014-08-28T07:12:00.000000000', '2014-08-28T08:00:00.000000000',
       '2014-08-28T08:06:00.000000000', '2014-08-28T08:18:00.000000000',
       '2014-08-28T08:23:00.000000000', '2014-08-28T08:39:00.000000000',
       '2014-08-28T08:40:00.000000000', '2014-08-28T08:43:00.000000000',
       '2014-08-28T09:02:00.000000000', '2014-08-28T09:09:00.000000000',
       '2014-08-28T09:16:00.000000000', '2014-08-28T09:18:00.000000000',
       '2014-08-28T09:40:00.000000000', '2014-08-28T09:53:00.000000000',
       '2014-08-28T09:54:00.000000000', '2014-08-28T09:55:00.000000000',
       '2014-08-28T09:56:00.000000000', '2014-08-28T09:57:00.000000000',
       '2014-08-28T09:58:00.000000000', '2014-08-28T09:59:00.000000000',
       '2014-08-28T10:00:00.000000000', '2014-08-28T10:01:00.000000000',
       '2014-08-28T10:02:00.000000000', '2014-08-28T10:04:00.000000000',
       '2014-08-28T10:05:00.000000000', '2014-08-28T10:07:00.000000000',
       '2014-08-28T10:08:00.000000000', '2014-08-28T10:10:00.000000000',
       '2014-08-28T10:11:00.000000000', '2014-08-28T10:13:00.000000000',
       '2014-08-28T10:15:00.000000000', '2014-08-28T10:16:00.000000000',
       '2014-08-28T10:17:00.000000000', '2014-08-28T10:18:00.000000000',
       '2014-08-28T10:20:00.000000000', '2014-08-28T10:22:00.000000000',
       '2014-08-28T10:24:00.000000000', '2014-08-28T10:25:00.000000000',
       '2014-08-28T10:29:00.000000000', '2014-08-28T10:30:00.000000000',
       '2014-08-28T10:34:00.000000000', '2014-08-28T10:35:00.000000000',
       '2014-08-28T10:42:00.000000000', '2014-08-28T10:45:00.000000000',
       '2014-08-28T10:47:00.000000000', '2014-08-28T10:51:00.000000000',
       '2014-08-28T10:52:00.000000000', '2014-08-28T10:54:00.000000000',
       '2014-08-28T10:57:00.000000000', '2014-08-28T11:02:00.000000000',
       '2014-08-28T11:04:00.000000000', '2014-08-28T11:07:00.000000000',
       '2014-08-28T11:09:00.000000000', '2014-08-28T11:10:00.000000000',
       '2014-08-28T11:14:00.000000000', '2014-08-28T11:15:00.000000000',
       '2014-08-28T11:19:00.000000000', '2014-08-28T11:20:00.000000000',
       '2014-08-28T11:21:00.000000000', '2014-08-28T11:22:00.000000000',
       '2014-08-28T11:26:00.000000000', '2014-08-28T11:27:00.000000000',
       '2014-08-28T11:29:00.000000000', '2014-08-28T11:32:00.000000000',
       '2014-08-28T11:34:00.000000000', '2014-08-28T11:36:00.000000000',
       '2014-08-28T11:38:00.000000000', '2014-08-28T11:40:00.000000000',
       '2014-08-28T11:44:00.000000000', '2014-08-28T11:47:00.000000000',
       '2014-08-28T11:48:00.000000000', '2014-08-28T11:50:00.000000000',
       '2014-08-28T11:54:00.000000000', '2014-08-28T11:58:00.000000000',
       '2014-08-28T11:59:00.000000000', '2014-08-28T12:02:00.000000000',
       '2014-08-28T12:05:00.000000000', '2014-08-28T12:06:00.000000000',
       '2014-08-28T12:07:00.000000000', '2014-08-28T12:08:00.000000000',
       '2014-08-28T12:09:00.000000000', '2014-08-28T12:10:00.000000000',
       '2014-08-28T12:12:00.000000000', '2014-08-28T12:15:00.000000000',
       '2014-08-28T12:19:00.000000000', '2014-08-28T12:22:00.000000000',
       '2014-08-28T12:23:00.000000000', '2014-08-28T12:30:00.000000000',
       '2014-08-28T12:40:00.000000000', '2014-08-28T12:42:00.000000000',
       '2014-08-28T12:44:00.000000000', '2014-08-28T12:53:00.000000000',
       '2014-08-28T13:01:00.000000000', '2014-08-28T13:04:00.000000000',
       '2014-08-28T13:08:00.000000000', '2014-08-28T13:11:00.000000000',
       '2014-08-28T13:17:00.000000000', '2014-08-28T13:26:00.000000000',
       '2014-08-28T13:32:00.000000000', '2014-08-28T13:34:00.000000000',
       '2014-08-28T13:35:00.000000000', '2014-08-28T13:39:00.000000000',
       '2014-08-28T13:40:00.000000000', '2014-08-28T13:41:00.000000000',
       '2014-08-28T13:47:00.000000000', '2014-08-28T13:48:00.000000000',
       '2014-08-28T13:54:00.000000000', '2014-08-28T13:57:00.000000000',
       '2014-08-28T14:00:00.000000000', '2014-08-28T14:01:00.000000000',
       '2014-08-28T14:02:00.000000000', '2014-08-28T14:04:00.000000000',
       '2014-08-28T14:12:00.000000000', '2014-08-28T14:15:00.000000000',
       '2014-08-28T14:31:00.000000000', '2014-08-28T14:38:00.000000000',
       '2014-08-28T14:41:00.000000000', '2014-08-28T14:46:00.000000000',
       '2014-08-28T14:51:00.000000000', '2014-08-28T14:52:00.000000000',
       '2014-08-28T14:53:00.000000000', '2014-08-28T14:57:00.000000000',
       '2014-08-28T15:01:00.000000000', '2014-08-28T15:25:00.000000000',
       '2014-08-28T15:32:00.000000000', '2014-08-28T15:37:00.000000000',
       '2014-08-28T15:40:00.000000000', '2014-08-28T15:43:00.000000000',
       '2014-08-28T15:48:00.000000000', '2014-08-28T15:50:00.000000000',
       '2014-08-28T15:54:00.000000000', '2014-08-28T15:56:00.000000000',
       '2014-08-28T16:09:00.000000000', '2014-08-28T16:17:00.000000000',
       '2014-08-28T16:31:00.000000000', '2014-08-28T16:42:00.000000000',
       '2014-08-28T16:52:00.000000000', '2014-08-28T16:54:00.000000000',
       '2014-08-28T16:55:00.000000000', '2014-08-28T16:56:00.000000000',
       '2014-08-28T16:57:00.000000000', '2014-08-28T16:58:00.000000000',
       '2014-08-28T17:01:00.000000000', '2014-08-28T17:02:00.000000000',
       '2014-08-28T17:03:00.000000000', '2014-08-28T17:07:00.000000000',
       '2014-08-28T17:08:00.000000000', '2014-08-28T17:09:00.000000000',
       '2014-08-28T17:10:00.000000000', '2014-08-28T17:11:00.000000000',
       '2014-08-28T17:12:00.000000000', '2014-08-28T17:14:00.000000000',
       '2014-08-28T17:16:00.000000000', '2014-08-28T17:19:00.000000000',
       '2014-08-28T17:20:00.000000000', '2014-08-28T17:21:00.000000000',
       '2014-08-28T17:22:00.000000000', '2014-08-28T17:23:00.000000000',
       '2014-08-28T17:27:00.000000000', '2014-08-28T17:28:00.000000000',
       '2014-08-28T17:31:00.000000000', '2014-08-28T17:33:00.000000000',
       '2014-08-28T17:34:00.000000000', '2014-08-28T17:35:00.000000000',

In [16]:
columns = df.columns

In [17]:
# for i in columns:
#     print(df[i].value_counts())

In [18]:
df["Age"].unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8,
                11,          -1,          72], dtype=int64)

## Cleaning Age column

In [19]:
age_filter = (df['Age'] >= 18) & (df['Age'] <= 99)
df = df[age_filter]

In [20]:
df.head(3)

,Timestamp,Age,Gender,Country,family_history,treatment,no_employees,remote_work,tech_company,benefits,...,seek_help,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:00,37,Female,United States,No,Yes,Jun-25,No,Yes,Yes,...,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,2014-08-27 11:29:00,44,M,United States,No,No,More than 1000,No,No,Don't know,...,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,2014-08-27 11:29:00,32,Male,Canada,No,No,Jun-25,No,Yes,No,...,No,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No

In [21]:
df["Age"].unique()

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 46, 41, 34, 30, 40,
       38, 50, 24, 18, 28, 26, 22, 19, 25, 45, 21, 43, 56, 60, 54, 55, 48,
       20, 57, 58, 47, 62, 51, 65, 49, 53, 61, 72], dtype=int64)

In [22]:
df["Gender"].value_counts()

Male                                              612
male                                              204
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Woman                                               3
Male                                                3
Female                                              2
Cis Male                                            2
Man                                                 2
Female (trans)                                      2
Malr                                                1
Trans woman                                         1
male leaning androgynous                            1
Cis Man                                             1
Neuter                                              1
msle                                                1
cis male                                            1
queer                                               1
Female (cis)                                        1
cis-female/femme                                    1
Mail                                                1
femail                                              1
Guy (-ish) ^_^                                      1
Enby                                                1
Agender                                             1
Male (CIS)                                          1
Male-ish                                            1
maile                                               1
Trans-female                                        1
Cis Female                                          1
something kinda male?                               1
Mal                                                 1
queer/she/they                                      1
Androgyne                                           1
non-binary                                          1
Femake                                              1
woman                                               1
Nah                                                 1
fluid                                               1
Genderqueer                                         1
ostensibly male, unsure what that really means      1
Name: Gender, dtype: int64

In [23]:
def map_gender(gender):
    # Normalize the input to lowercase
    gender = gender.lower()
    
    # Define mappings based on the provided counts
    if gender in ['male', 'm', 'cis male', 'man','cis man','make']:
        return 'Male'
    elif gender in ['female', 'f', 'cis female', 'cis-female/femme','woman']:
        return 'Female'
    else:
        return 'Other'  # Any other gender value is categorized as 'Other'

In [24]:
df["Gender"] = df["Gender"].map(map_gender)

C:\Users\Karthik Avinash\AppData\Local\Temp\ipykernel_11788\1004635753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Gender"] = df["Gender"].map(map_gender)

In [25]:
df["Gender"].value_counts()

Male      976
Female    242
Other      33
Name: Gender, dtype: int64

In [26]:
df = df.dropna()

In [27]:
df = df[df["Gender"]!="Other"]

In [28]:
df["Gender"].value_counts()

Male      976
Female    242
Name: Gender, dtype: int64

In [29]:
df.shape

(1218, 22)

In [30]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'family_history', 'treatment',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [31]:
df["Country"].value_counts()

United States             727
United Kingdom            178
Canada                     69
Germany                    43
Ireland                    27
Netherlands                27
Australia                  21
France                     13
India                      10
New Zealand                 8
Poland                      7
Switzerland                 7
Sweden                      7
South Africa                6
Brazil                      6
Belgium                     6
Italy                       5
Israel                      5
Bulgaria                    4
Singapore                   4
Austria                     3
Mexico                      3
Finland                     3
Croatia                     2
Portugal                    2
Colombia                    2
Denmark                     2
Greece                      2
Russia                      2
Thailand                    1
Georgia                     1
Moldova                     1
China                       1
Czech Republic              1
Norway                      1
Romania                     1
Nigeria                     1
Japan                       1
Hungary                     1
Bosnia and Herzegovina      1
Uruguay                     1
Spain                       1
Latvia                      1
Costa Rica                  1
Slovenia                    1
Philippines                 1
Name: Country, dtype: int64

In [32]:
df["family_history"].value_counts()

No     746
Yes    472
Name: family_history, dtype: int64

In [33]:
columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'family_history', 'treatment',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [34]:
columns = columns.drop("Age")

In [35]:
# columns = columns.drop("Gender")
columns = columns.drop("Country")
columns = columns.drop("family_history")

In [36]:
columns

Index(['Timestamp', 'Gender', 'treatment', 'no_employees', 'remote_work',
       'tech_company', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [37]:
df["treatment"].value_counts()

Yes    613
No     605
Name: treatment, dtype: int64

In [38]:
df["no_employees"].value_counts()

Jun-25            280
26-100            277
More than 1000    274
100-500           171
01-May            157
500-1000           59
Name: no_employees, dtype: int64

In [39]:
columns = columns.drop("no_employees")

In [40]:
columns

Index(['Timestamp', 'Gender', 'treatment', 'remote_work', 'tech_company',
       'benefits', 'care_options', 'wellness_program', 'seek_help', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [41]:
df["remote_work"].value_counts()

No     854
Yes    364
Name: remote_work, dtype: int64

In [42]:
columns = columns.drop("treatment")
columns = columns.drop("remote_work")

In [43]:
df["tech_company"].value_counts()

Yes    998
No     220
Name: tech_company, dtype: int64

In [44]:
columns = columns.drop("tech_company")

In [45]:
columns

Index(['Timestamp', 'Gender', 'benefits', 'care_options', 'wellness_program',
       'seek_help', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [46]:
df["benefits"].value_counts()

Yes           459
Don't know    396
No            363
Name: benefits, dtype: int64

In [47]:
df = df.drop(["benefits"], axis = 1)

In [48]:
columns = columns.drop("benefits")

In [49]:
columns

Index(['Timestamp', 'Gender', 'care_options', 'wellness_program', 'seek_help',
       'leave', 'mental_health_consequence', 'phys_health_consequence',
       'coworkers', 'supervisor', 'mental_health_interview',
       'phys_health_interview', 'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [50]:
df["care_options"].value_counts()

No          489
Yes         426
Not sure    303
Name: care_options, dtype: int64

In [51]:
columns = columns.drop("care_options")

In [52]:
columns

Index(['Timestamp', 'Gender', 'wellness_program', 'seek_help', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [53]:
df["wellness_program"].value_counts()

No            814
Yes           221
Don't know    183
Name: wellness_program, dtype: int64

In [54]:
df = df.drop("wellness_program", axis = 1)

In [55]:
columns = columns.drop("wellness_program")

In [56]:
columns

Index(['Timestamp', 'Gender', 'seek_help', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [57]:
df = df.drop("seek_help",axis =1)

In [58]:
columns = columns.drop("seek_help")

In [59]:
columns

Index(['Timestamp', 'Gender', 'leave', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [60]:
df["leave"].value_counts()

Don't know            549
Somewhat easy         258
Very easy             199
Somewhat difficult    118
Very difficult         94
Name: leave, dtype: int64

In [61]:
columns = columns.drop("leave")

In [62]:
columns

Index(['Timestamp', 'Gender', 'mental_health_consequence',
       'phys_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [63]:
df["mental_health_consequence"].value_counts()

No       479
Maybe    464
Yes      275
Name: mental_health_consequence, dtype: int64

In [64]:
df["phys_health_consequence"].value_counts()

No       899
Maybe    263
Yes       56
Name: phys_health_consequence, dtype: int64

In [65]:
columns = columns.drop("mental_health_consequence")
columns = columns.drop("phys_health_consequence")

In [66]:
columns

Index(['Timestamp', 'Gender', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [67]:
df["coworkers"].value_counts()

Some of them    751
No              250
Yes             217
Name: coworkers, dtype: int64

In [68]:
df = df.drop("coworkers",axis = 1)

In [69]:
columns = columns.drop("coworkers")

In [70]:
columns

Index(['Timestamp', 'Gender', 'supervisor', 'mental_health_interview',
       'phys_health_interview', 'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [71]:
df["supervisor"].value_counts()

Yes             503
No              381
Some of them    334
Name: supervisor, dtype: int64

In [72]:
df = df.drop("supervisor",axis= 1)

In [73]:
columns = columns.drop("supervisor")

In [74]:
columns

Index(['Timestamp', 'Gender', 'mental_health_interview',
       'phys_health_interview', 'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [75]:
df["mental_health_interview"].value_counts()

No       976
Maybe    204
Yes       38
Name: mental_health_interview, dtype: int64

In [76]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'family_history', 'treatment',
       'no_employees', 'remote_work', 'tech_company', 'care_options', 'leave',
       'mental_health_consequence', 'phys_health_consequence',
       'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [77]:
df = df.drop(["mental_health_interview","phys_health_interview"],axis = 1)

In [78]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'family_history', 'treatment',
       'no_employees', 'remote_work', 'tech_company', 'care_options', 'leave',
       'mental_health_consequence', 'phys_health_consequence',
       'mental_vs_physical', 'obs_consequence'],
      dtype='object')

In [79]:
df.head(3)

,Timestamp,Age,Gender,Country,family_history,treatment,no_employees,remote_work,tech_company,care_options,leave,mental_health_consequence,phys_health_consequence,mental_vs_physical,obs_consequence
0,2014-08-27 11:29:00,37,Female,United States,No,Yes,Jun-25,No,Yes,Not sure,Somewhat easy,No,No,Yes,No
1,2014-08-27 11:29:00,44,Male,United States,No,No,More than 1000,No,No,No,Don't know,Maybe,No,Don't know,No
2,2014-08-27 11:29:00,32,Male,Canada,No,No,Jun-25,No,Yes,No,Somewhat difficult,No,No,No,No

In [80]:
df.isnull().sum()

Timestamp                    0
Age                          0
Gender                       0
Country                      0
family_history               0
treatment                    0
no_employees                 0
remote_work                  0
tech_company                 0
care_options                 0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [82]:
df.to_csv("data.csv", index = False)